@use "variables" as *;
@use "mixins";

.basket {
  @include mixins.flex(column);
  gap: 2rem;
  height: 100%;

  &__list {
    padding: 0;
    margin: 0;
    flex-grow: 1;
  }

  &__item {
    border-bottom: 1px solid rgba(255,255,255,0.04);
    padding: 1rem 0;
    background-color: rgba(0,0,0,0); // keep transparent unless card overrides

    &-index {
      @include mixins.flex(row);
      justify-content: center;
      align-items: center;
      font-size: 1.4rem;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-color: $category1;
      color: $secondary;
      font-family: $font;
      font-weight: 700;
      margin-right: 0.75rem;
    }

    &-delete {
      @include mixins.icon(1.6rem, 'trash');
      @include mixins.link($secondary, $hover);
      opacity: 0.95;
      margin-left: 2rem;
      color: $secondary;
    }
  }
}